{% extends "base.html" %}
{% load staticfiles %}


{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<div class="starter-template">
	<h1>Hola {{ user.facebook_name }}!</h1>
	<p class="lead">Cuando quieres ir a donar (Aquí hay unas reglas interesantes de los 3 meses y cosas que no conozco muy bien)</p>
	<form role="form" method="POST" action="{% url 'create_appointment' %}">
		{% csrf_token %}
		{% for field in new_appointment_form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
		<input type="submit" class="btn btn-primary btn-lg active" value="Submit now" />
	</form>
	<div class="appointments">
		Me he comprometido a donar los días:
		<ul>
			{% for appointment in user.appointments.all %}
			<li>{{ appointment }} <a href="{% url 'appointment_detail' pk=appointment.pk %}"><span class="glyphicon glyphicon-send"></span></a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock content %}